body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    position: relative;
}


/* Header */
#brand-logo{
  font-size: 19px;
  height: 100%;
  display: flex;
  align-items: center;
}
.gallery-icon{
  height: 25px;
  margin-right: 7px;
}

/* navbar */

.nav-wrapper{
  display: flex;
  justify-content: center;
}
nav{
  line-height: 0!important;
}

/* Hero Swiper */
.HeroSwiperDetails{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeroSwiperDetails-title{
  font-weight: 600; 
}
.HeroSwiperDetails a{
  margin: 0;
  height: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

/*Photo Gallery List */
.Photo_GalleryItem{
  width: 100%;
}

.PhotoGallery_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  margin-top: 203px;
}

/* Modal */
.OpenedImage{
  width: 100%;
}
#OpenedImage {
  padding: 0px !important;
}

@media (max-width:992px){
  #modal1 {
    width: 93%;
  }
}